/*###### General Rules #################################*/

*{
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  font-size: 1.6rem;
  background-color: aliceblue;
  text-align: justify;
  padding-inline: 5%;
}

/*###### Headings #################################*/

h1{
  font-family: 'Smooch', cursive, sans-serif;
  font-size: 5rem;
  margin: 0;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}